<section class="block container">
      <header class="block__header">
        <h1 class="block__heading">Heading</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis
        </p>
      </header>
    </section>
    <section class="block block--dark block--skewed-right">
      <div class="container">
        <header class="block__header">
          <h1 class="block__heading">Heading</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis
          </p>
      </div>
      </header>
    </section>
