<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Products</h2>
    <svg class="icon icon--primary collapsible__chevron">
      <use xlink:href="./images/sprite.svg#settings"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    <ul>
      <li>WordPress Hosting</li>
      <li>Free Automated WordPress</li>
      <li>Migrations</li>
      <li>Domain Names</li>
      <li>Monthly Web Hosting</li>
    </ul>
  </div>
</div>
<script src="js/main.js"></script>
