<ul class="list list--tick">
  <li class="list__item">Unlimited Websites</li>
  <li class="list__item">Unlimited Bandwidth</li>
  <li class="list__item">100 GB SSD Storage</li>
  <li class="list__item">3 GB RAM</li>
</ul>

<!-- badges -->

<ul class="list list--inline">
  <li class="list__item">.com $9.26</li>
  <li class="list__item">.sg $7.91</li>
  <li class="list__item">.space $12.98</li>
  <br />
  <li class="list__item">.info $14.15</li>
  <li class="list__item">.net $16.15</li>
  <li class="list__item">.xyz $10.15</li>
</ul>
