<!-- <q></q>, <blockquote></blockquote>
     These two are used for quotes(2reco) -->

<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
    quibusdam alias quo fugiat, impedit quia laboriosam repudiandae tempora sint
    expedita?
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon">
          <use xlink:href="./images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Umar Farooq</h3>
        <p class="author__company">ABC Company CEO</p>
      </div>
    </div>
  </footer>
</blockquote>
